<div class="list-group shadow-sm rounded-3">
    <a href="@Url.Action("Index", "Admin")" class="list-group-item list-group-item-action">
        <i class="bi bi-newspaper me-2"></i>Все новости
    </a>
    <a href="@Url.Action("CreateNews", "Admin")" class="list-group-item list-group-item-action active">
        <i class="bi bi-plus-circle me-2"></i>Создать новость
    </a>

    <form asp-controller="Admin" asp-action="Logout" method="post" class="p-0 m-0 border-0 bg-transparent">
        @Html.AntiForgeryToken()
        <button type="submit" class="btn w-100 text-start text-danger list-group-item list-group-item-action">
            <i class="bi bi-box-arrow-right me-2"></i>Выйти
        </button>
    </form>
</div>
